.alldays{
    display: flex;
}

.day1{
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}
.day2{
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}
.day3{
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}
.day4{
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}
.day5{
    padding: 15px;
    border: 1px solid black;
    margin: 3px;
    border-radius: 10px;
}