.wholeform{
    background: lightblue;
}

.Map {
    width: 60%;
    height: 55%;
    top: 31px;
    left: 650px;
}
.zipcode-textbox{
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightblue;
}