.wholeform{
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 3%, rgba(9,9,121,1) 80%, rgba(2,0,36,1) 98%);
}

.Map {
    width: 60%;
    height: 55%;
}
.zipcode-textbox{
    border-radius: 20px;
    width: 100px;
    height: 30px;
}
.div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightblue;
}

.second-section{
    display: flex;
    width: 100%;
}

.second-section-part-one{
    width:50%;
    padding: 20px;
    display: flex;
    position: relative;
    top: 171px;
    left: 119px;
}


.second-section-part-two{
    display: flex;
    width:50%;
}

.zipcode-label{
    padding: 12px 20px;
    margin: 20px 10px;
    width: 100%;
}

.zipcode-textbox{
    text-align: center;
}

html.gr__localhost {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 3%, rgba(9,9,121,1) 80%, rgba(2,0,36,1) 98%);
}

div {
    color: white;
}

h1 {
    text-align: center;
}

.label-div{
    top: 9%;
    right: 66%;
    position: absolute;
    width: 350px
}

.stuck-in-between{
    position: relative;
    top: 45px;
    left: -78px;

}

h3 {
    border-right: 1px solid white;
    padding-right: 5%;
    padding-left: 5%;
}

.temp-div{
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    color: white;
    display: grid;
    grid-template-columns: .5fr 1fr ;

}

.temp-wrapper{
    padding-left: 5%;
}

.fahren-size{
    font-size: 30px;
}

.button{
 padding: 10px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .button-span{
    padding-left: 40px;
  }

  .big-icon{
    size: 12px;
  }

  path{
    width: 1em;
  }

.fa-xs {
    font-size: .45em;
    position: absolute;
    top: 18%;
    right: -20%;
}
